/* navbar */
.navbar {
	position: relative;
	z-index: 1;
}

.navbar-brand {
	font-family: viga, sans-serif;
	font-size: 32px;
}

/* jumbotron */
.jumbotron {
	background-image: url(img/jumbotron-bg.jpg);
	background-size: cover;
	background-position: 50% 50%;
	height: 540px;
	text-align: center;
	position: relative;
}

.jumbotron .container {
	position: relative;
	z-index: 1;
}

.jumbotron::after {
	content: '';
	display: block;
	width: 100%;
	height: 80%;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	position: absolute;
	bottom: 0;
}

.jumbotron .display-4 {
	color: white;
	margin-top: 150px;
	margin-bottom: 30px;
	font-weight: 200;
	font-size: 40px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
}

.jumbotron .display-4 span {
	font-weight: 500;
}

/* info panel */
.info-panel {
	box-shadow: 0 3px 20px rgba(0, 0, 0, .5);
	border-radius: 12px;
	margin-top: -100px;
	background-color: white;
	padding: 30px;
}

.info-panel img {
	width: 80px;
	height: 80px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.info-panel h4 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
}

.info-panel p {
	margin-top: -5px;
	font-size: 14px;
	font-weight: 500;
	color: #999;
}

/* working space */
.workingspace {
	margin-top: 120px;
	text-align: center;
}

.workingspace h3 {
	margin-top: 30px;
	font-size: 52px;
	font-weight: 200;
	text-transform: uppercase;
}

.workingspace h3 span {
	font-weight: 500;
}

.workingspace p {
	font-size: 18px;
	color: #666;
	font-weight: 200;
	margin: 30px 0;
}

/* testimonial */
.testimonial {
	margin-top: 100px;
}

.testimonial h5 {
	font-weight: 200;
	font-style: italic;
	font-size: 24px;
	text-align: center;
}

.testimonial figure img {
	width: 60px;
	margin: 20px 10px 10px;
	opacity: .6;
}

.testimonial figure img.utama {
	width: 90px;
	margin-top: 5px;
	opacity: 1;
}

.testimonial figure h5 {
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	color: #1C2C5D;
}

.testimonial figure p {
	font-size: 12px;
	color: #666;
	margin-top: -5px !important;
}

.testimonial figcaption {
	text-align: center !important;
}

/* footer */
.footer {
	margin-top: 100px;
	margin-bottom: 20px;
}

.footer p {
	color: #666;
	font-size: 18px;
}

/* utility */
.tombol {
	text-transform: uppercase;
	border-radius: 40px;
}



/* Desktop Version */
@media (min-width: 992px) {
	/* navbar */
	.navbar-brand, .nav-link {
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
	}

	.nav-link {
		text-transform: uppercase;
		margin-right: 30px;
	}

	.nav-link:hover::after { /* ngakalin navbar */
		content: '';
		display: block;
		border-bottom: 3px solid #0B63DC;
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}

	/* jumbotron */
	.jumbotron {
		height: 640px;
		margin-top: -75px;
		background-position: 50% 70%;
	}

	.jumbotron .display-4 {
		font-size: 62px;
	}

	/* working space */
	.workingspace {
		text-align: left;
	}

	/* testimonial */
	.testimonial h5 {
		font-size: 32px;
	}

}
